<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="Swivel_TurnStile.My.MySettings.MyDataBaseConnectionString" 
	   connectionString="Data Source=PC-14\SQLEXPRESS01;Initial Catalog=C:\PROGRAM FILES (X86)\RDIE-CSUCC.ORG.V3\SWIVEL-TURNSTILE-GATE-SMS3\MYDATABASE.MDF;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>